#banner {
  min-height: 100vh;
  background-image: url(../img/bg-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

#trabajos {
  background: #17A2B8;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

footer {
  background: #000;
}